

.desktop-nav {
    background-color: white; 
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    
}

.desktop-nav .brand-name {
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

}

.desktop-nav .brand-name a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;

    height: 100%;
    display: flex;
    align-items: center;
}

.desktop-nav .brand-name a span{
    font-weight: 400;
    letter-spacing: 0.1em;
}

.desktop-nav .nav-links{
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.desktop-nav .nav-links li{
    font-weight: 500;
    margin-right: 20px;
    height: 100%;

    display: flex;
    align-items: center;

}

.desktop-nav .nav-links li a{
    height: 100%;
    display: flex;
    align-items: center;

}

.desktop-nav .nav-button{
    background-color: white;
    border: 2px solid #5FBCD9;
    width: 245px;
    height: 55px;
    cursor: pointer;
    color: #5FBCD9;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.desktop-nav .nav-button:hover{
    background-color: #5FBCD9;
    color: white;
   
}

.desktop-nav .open-mobile-menu{
    display: none;
}

/* --------- START OF MOBILE NAV -------- */
.mobile-nav_container{
    transform: translateX(100%); 
    transition: transform .5s ease-in-out;
    
    overflow: hidden;
              
}

.mobile-nav_container.active {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    
    
}



.mobile-nav_container{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    position: fixed;
    top: 0;
    z-index: 3;
}

.mobile-nav {
    width: 100%;
    margin: 0 auto;

    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.mobile-nav_container .mobile-nav_header{
    height: 90px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav_container .mobile-nav_header .brand-name{
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.mobile-nav_container .mobile-nav_header .brand-name a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;

    height: 100%;
    display: flex;
    align-items: center;
}

.mobile-nav_container .mobile-nav_header .brand-name a span{
    font-weight: 400;
    letter-spacing: 0.1em;
}
/*  */



/*  */




.mobile-nav_container .mobile-nav_header .close-mobile-menu-btn{
    border: none;
    background-color: transparent;
    font-size: 24px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.mobile-nav_menu{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    list-style-type: none;
}

.mobile-nav_menu li{
    height: 90px;
    margin-bottom: 10px;
}

.mobile-nav_menu li a {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.mobile-nav_menu li a:hover {
    font-weight: bold; 
}

.mobile-nav_container .free-exam_btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding-bottom: 90px;
}

.mobile-nav_container .free-exam-nav-button{
    background-color: white;
    border: 2px solid #5FBCD9;
    width: 245px;
    height: 55px;
    cursor: pointer;
    color: #5FBCD9;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.mobile-nav_container .free-exam-nav-button:hover{
    background-color: #5FBCD9;
    color: white;
}







@media screen and (max-width: 1150px) {
    .desktop-nav .nav-button{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .desktop-nav{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-nav .open-mobile-menu{
        display: block;
        padding:24px;
        background-color: transparent;
        font-size: 24px;
        border: none;
    }

    .desktop-nav .nav-links{
        display: none;
    }

    

    
}


