*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: #23423B;
}

ul{
    list-style: none;
}