.how-we-help-container{
    margin-left: 100px;
    margin-right: 100px;

}

.how-we-help-container .headlines{
    text-align: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.how-we-help-container .headlines h1{
    margin-top: 100px;
    margin-bottom: 15px;
}

.how-we-help-container .headlines h2{
    margin-bottom: 40px;
}

.how-we-help-container .headlines p{
    margin-bottom: 60px;

}

.how-we-help_services {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin-bottom: 100px;
}

.how-we-help_services .service{
    background-color: #E1F3F9;
}

.how-we-help_services .service .service-img{
    width: 100%;
    margin-bottom: 20px;

}

.how-we-help_services .service .service-img img{
    width: 100%;
}

.how-we-help_services .service .info {
    padding: 0 20px;
    height: 100%;
    position: relative;
}

.how-we-help_services .service .info h3{
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.how-we-help_services .service .info p{
    margin-bottom: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}

.how-we-help_services .service .info a{
    margin-bottom: 30px;
    width: 100%;    
}

@media screen and (max-width: 1200px) {

    .how-we-help_services {
        gap: 1em;
    }

    .how-we-help_services .service .info h3{
        font-size: 16px;
    }

    .how-we-help_services .service .info p{
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px){
    .how-we-help_services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;

    }
}

@media screen and (max-width: 850px){
    .how-we-help_services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;

    }

}